<script type="importmap">
    {
        "imports": {
            "three": "{{ (resources.Get "js/three/three.module.min.js").RelPermalink }}",
            "STLLoader": "{{ (resources.Get "js/three/addons/STLLoader.js").RelPermalink }}",
            "OrbitControls": "{{ (resources.Get "js/three/addons/OrbitControls.js").RelPermalink }}"
        }
    }
</script>

<script type="module">
    import * as THREE from 'three';
    
    import { STLLoader } from 'STLLoader';
    
    import { OrbitControls } from 'OrbitControls';
    
    
    function STLViewer(model, elementID, xr, yr, zr, zdepth, xt, yt, zt) {
        var elem = document.getElementById(elementID.split(".")[0])

        if (xr == null) {
            xr = -Math.PI / 4
        }

        if (yr == null) {
            yr = 0
        }

        if (zr == null) {
            zr = 0
        }

        if (zdepth == null) {
            zdepth = 1
        }
        
        var camera = new THREE.PerspectiveCamera(70, 
        elem.clientWidth/elem.clientHeight, 1, 1000);
    
        var renderer = new THREE.WebGLRenderer({ antialias: true, alpha: true });
        renderer.setSize(elem.clientWidth, elem.clientHeight);
        elem.appendChild(renderer.domElement);
    
        window.addEventListener('resize', function () {
            renderer.setSize(elem.clientWidth, elem.clientHeight);
            camera.aspect = elem.clientWidth/elem.clientHeight;
            camera.updateProjectionMatrix();
        }, false);
    
        var controls = new OrbitControls(camera, renderer.domElement);
        controls.enableDamping = true;
        controls.rotateSpeed = 0.05;
        controls.dampingFactor = 0.1;
        controls.enableZoom = true;
        controls.autoRotate = true;
        controls.autoRotateSpeed = .75;
    
        var scene = new THREE.Scene();
        scene.add(new THREE.HemisphereLight(0xffffff, 1.5));
    
        (new STLLoader()).load(model, function (geometry) {
            var material = new THREE.MeshPhongMaterial({ 
                color: 0xff5533, 
                specular: 100, 
                shininess: 100 });
            
            geometry.center()

            var mesh = new THREE.Mesh(geometry, material);
            scene.add(mesh);
    
            var middle = new THREE.Vector3();
            geometry.computeBoundingBox();
            geometry.boundingBox.getCenter(middle);

            if (xt == null) {
                xt = -middle.x
            }
            if (yt == null) {
                yt = -middle.y
            }
            if (zt == null) {
                zt = -middle.z
            }

            mesh.geometry.translate( -mesh.position.x, -mesh.position.y, -mesh.position.z );
            mesh.rotateX(xr)
            mesh.rotateY(yr)
            mesh.rotateZ(zr)

            var largestDimension = Math.max(geometry.boundingBox.max.x,
                                        geometry.boundingBox.max.y, 
                                        geometry.boundingBox.max.z)

            // mesh.position.set(xt, yt, zt);

            camera.position.z = largestDimension * zdepth;
        
            var animate = function () {
                requestAnimationFrame(animate);
                controls.update();
                renderer.render(scene, camera);
            }; 
        
                animate();
            });
        }


        // DO THIS FOR ALL THE ELEMENTS WITH A CERTAIN CLASS
        // With different model files for each
        {{ range $.Params.stl_model }}
            {{ $path := printf "%s/%s" "models" . }}
            {{ with resources.Get $path }}
                STLViewer("{{ .RelPermalink }}", "{{ . }}".split("/models/")[1].split(".")[0], {{ $.Params.xr }}, {{ $.Params.yr }}, {{ $.Params.zr }}, {{ $.Params.zdepth }}, {{ $.Params.xy }}, {{ $.Params.yt }}, {{ $.Params.zt }})
            {{ end }}
        {{ end }}
    </script>